body{
    background-image: url(../img/csillag.jpg);
    margin:auto;
    width: 60%;
    color: white;
    background-size: cover, 
}

header{    
    background-position: center center;
}

main{
   background-color: black; 
}

h1{
    margin-top: 40px;
    padding-left: 10px; 
    font-family: Verdana;   
    font-weight: bold;
}

h2{    
    margin-top: 10px;    
    padding: 5px 15px;
}

h3{    
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;  
    text-transform: uppercase;  
}

.navbar{
    background-color: rgba(58, 57, 57, 0.7);
    height:50px;
}

.navbar a:hover{
    border: 1px dotted white
}

p{
    text-align: justify;
    text-indent: 15px;
}

li{
    color: white;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}
